nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
  = link_to 'Enblog', root_path, class: 'navbar-brand', id: 'enblog-logo'
  ul.navbar-nav.mr-auto
    li.nav-item = link_to Article.model_name.human, articles_path, class: 'nav-link'
