.p-articles {
  &__list {
    margin-top: 50px;

    .p-articles-item {
      margin-bottom: 30px;
      background-color: $body-bg;
      border: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);

        a {
          text-decoration: none;
        }
      }

      &__desc {
        margin: 10px 0 0;
        max-height: 70px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }

      &__info {
        margin-top: 10px;
        display: flex;
        justify-content: start;

        @media screen and (max-width: 768px) {
          flex-direction: column-reverse;

          span {
            margin-top: 10px;
          }
        }

        &:hover {
          border-bottom: none;
        }

        span {
          margin-right: 10px;
          opacity: 0.6;
        }

        ul {
          padding-left: 0;

          li {
            align-self: center;

            &:not(:first-child) {
              margin-left: 7px;
            }

            &::marker {
              display: none;
            }
          }
        }
      }
    }
  }
}
