// bootstrapの変数を上書き
$body-bg: #2f3437;
$body-color: rgba(255, 255, 255, 0.9);
$font-family-sans-serif: 'Roboto', 'Kosugi Maru', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$link-color: rgba(255, 255, 255, 0.6);
$link-hover-color: rgba(255, 255, 255, 0.8);
